{% assign easylockdownON = false %} {% assign easylockdownHiddenPurchase = false %} {% assign easylockdownRedirectURL = '' %} {% assign easylockdownPage404Title = '' %} {% assign easylockdownPage404Message = '' %} {% assign easylockdownActiveID = 0 %} {% assign easylockdownActiveHash = '' %} {% assign easylockdownPasswordForm = false %} {% assign easylockdownPasswordNote = '' %} {% assign easylockdownPasswordPlaceholder = '' %} {% assign easylockdownHidePrice = false %} {% assign easylockdownLocaleRootUrl = '' %} {% for locale in shop.published_locales %} {% if shop.locale == locale.iso_code %} {% unless locale.primary %}{% assign easylockdownLocaleRootUrl = locale.root_url %}{% endunless %}{% break %} {% endif %} {% endfor %} <script type='text/javascript'>var easylockdownLocationDisabled = true;</script> <script type='text/javascript' src='{% unless request.design_mode or canonical_url contains 'shopifypreview.com' %}//{{ shop.domain }}{% endunless %}/apps/easylockdown/easylockdown-1.0.6.min.js' data-no-instant></script> <script type='text/javascript'>if( typeof InstantClick == 'object' ) easylockdown.clearData();</script> <style type="text/css">#easylockdown-password-form{padding:30px 0;text-align:center}#easylockdown-wrapper,.easylockdown-form-holder{display:inline-block}#easylockdown-password{vertical-align:top;margin-bottom:16px;padding:8px 15px;line-height:1.2em;outline:0;box-shadow:none}#easylockdown-password-error{display:none;color:#fb8077;text-align:left}#easylockdown-password-error.easylockdown-error{border:1px solid #fb8077}#easylockdown-password-form-button:not(.easylockdown-native-styles){vertical-align:top;display:inline-block!important;height:auto!important;padding:8px 15px;background:#777;border-radius:3px;color:#fff!important;line-height:1.2em;text-decoration:none!important}.easylockdown-instantclick-fix,.easylockdown-item-selector{position:absolute;z-index:-999;display:none;height:0;width:0;font-size:0;line-height:0}.easylockdown-collection-item[data-eld-loc-can],.easylockdown-item-selector+*,.easylockdown-item[data-eld-loc-can]{display:none}.easylockdown404-content-container{padding:50px;text-align:center}.easylockdown404-title-holder .easylockdown-title-404{display:block;margin:0 0 1rem;font-size:2rem;line-height:2.5rem}</style> {% if easylockdownInstantClick %}<div class='easylockdown-instantclick-fix' style='display:none;'></div>{% endif %}
{% assign easylockdownSuperPage = false %}{% assign proxyPageA = shop.url | append: '/a/' %}{% assign proxyPageApps = shop.url | append: '/apps/' %}{% assign proxyPageCommunity = shop.url | append: '/community/' %}{% assign proxyPageTools = shop.url | append: '/tools/' %}
{% if template == blank or template == 'customers/login' or template == 'customers/activate_account' or template == 'customers/reset_password' %}{% assign easylockdownSuperPage = true %}{% endif %}
{% if canonical_url contains proxyPageA or canonical_url contains proxyPageApps or canonical_url contains proxyPageCommunity or canonical_url contains proxyPageTools %}{% assign easylockdownSuperPage = false %}{% endif %}
{% assign easylockdownNow = 'now' | date:'%s' | times: 1 %}{% assign easylockdownNowWeekDay = easylockdownNow | date:'%u' %}{% assign easylockdownNowMonthDay = easylockdownNow | date:'%d' %}{% assign easylockdownNowHM = easylockdownNow | date:'%H%M' | times: 1 %}{% if customer %}{% assign easylockdownPlacedOrder = customer.orders.first.created_at | date:'%s' %}{% assign easylockdownOldestPlacedOrder = customer.orders.last.created_at | date:'%s' %}{% assign easylockdownDateDifference = easylockdownNow | minus: easylockdownPlacedOrder %}{% endif %}
{% for t in customer.tags %}
{% assign tag = t | downcase %}
{% if tag == 'arkansas' %}{% assign elcTag1 = true %}{% endif %}
{% if tag == 'maine' %}{% assign elcTag2 = true %}{% endif %}
{% if tag == 'oregon' %}{% assign elcTag3 = true %}{% endif %}
{% if tag == 'utah' %}{% assign elcTag4 = true %}{% endif %}
{% if tag == 'vermont' %}{% assign elcTag5 = true %}{% endif %}
{% if tag == 'anchorage' %}{% assign elcTag6 = true %}{% endif %}
{% if tag == 'san francisco' %}{% assign elcTag7 = true %}{% endif %}
{% endfor %}
{% unless easylockdownON or easylockdownSuperPage or template == 'customers/register' or template contains 'page' and page.id == 105104441560 %}
{% assign easylockdownLockedContent = false %}
{% assign easylockdownHiddenContent = false %}
{% assign easylockdownLockedContent = true %}
{% if easylockdownLockedContent %}
{% if customer %}
{% assign easylockdownON = true %}{% unless elcTag1 or elcTag2 or elcTag3 or elcTag4 or elcTag5 or elcTag6 or elcTag7 %}{% assign easylockdownON = false %}{% endunless %}
{% if easylockdownON %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}{{ easylockdownLocaleRootUrl }}/pages/state-regulations-1{% endcapture %}
{% endif %}
{% endif %}
{% endif %}
{% endunless %}

{% if easylockdownON or easylockdownPasswordProtectedContent %}<meta name="robots" content="noindex,nofollow">{% endif %}

<script type='text/javascript'>
  if( typeof easylockdown == 'object' ) {
    easylockdown.localeRootUrl = '{{ easylockdownLocaleRootUrl }}';
    {% if easylockdownON %}easylockdown.router('{{ easylockdownRedirectURL }}'); {% else %}easylockdown.routerByLocation(); {% endif %}

    easylockdown.onReady(function(e){
      easylockdown.hideAllLinks();
    });
  }
</script>{% if easylockdownRender %}--elhResults--{% if easylockdownON %}1{% endif %}--elhResultItem--{% if easylockdownHiddenPurchase %}1{% endif %}--elhResultItem--{{ easylockdownRedirectURL }}--elhResultItem--{{ easylockdownPage404Title }}--elhResultItem--{{ easylockdownPage404Message }}--elhResultItem--{{ easylockdownPasswordNote }}--elhResultItem--{{ easylockdownPasswordPlaceholder }}--elhResultItem--{{ easylockdownPriceSelectors }}--elhResultItem--{% if easylockdownHidePrice %}1{% endif %}--elhResultItem--{{ easylockdownHidePriceLinkText }}--elhResultItem--{{ easylockdownHidePriceLinkUrl }}{% endif %}